
nav{
  background-color: rgb(133, 180, 194);
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}

.tri_poloski{
  font-size: 30px;

}
main{
  padding: 50px;

}

.burger-btn{
  
  margin-left: 30px;
  position: relative;
  cursor: pointer;
  display: flex;
  margin-right: auto;
  

}

.login{
  margin-right: 30px;
}

.cont-groupBtn{
  display: flex;
  justify-content: center;
  /* border: 2px rgb(197, 164, 15) solid; */
  margin-bottom: 30px;
  flex-direction: column;
}
.container-reports-one{
  display: flex;
  /* border: 2px green solid; */
  background-color: white;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  width: 100%;

}

.cont-btn{
  margin-bottom: 20px;
  /* border: 1px black solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

}
.btn{
  /* border: 1px black solid; */
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.type-btn{
  display: flex;
  flex-direction: row;
  
}

.button{
  width: 200px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.report-card{
  display: flex;
  /* border: 1px black solid; */
  
  
  width: 15em;
  height: 15em;
  justify-content: center;
  

}
.cont-card{
  /* border: 1px solid black; */
  width: 100%;
  margin: 10px;
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 2px 2px  rgb(162, 187, 211);
}

.cont-card:hover{
  box-shadow: gray 10px 20px 10px;
  margin: 0px;
  /* background-color: rgb(178, 180, 180); */
  border: 3px solid rgb(64, 100, 218);
  
  /* -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); */
}

.cont-card:hover {
  box-shadow: gray 10px 20px 10px;
  margin: 0px;
  /* background-color: rgb(178, 180, 180); */
  border: 3px solid rgb(64, 100, 218);
  
  /* -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); */
}

.button{
  background-color: rgb(188, 221, 229);
  border: none;
  box-shadow: 10px 8px 10px;
}
.heart{
  border: none;
  background: none;
  padding: 5px; 
}

.name{
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.img{
  display: flex;
  justify-content: center;
  
}

img{
  width: 50%;
}



.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.three {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;

  }

  /*=== FADE IN LEFT ===*/
  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d( 0, 0);
      transform: translate3d( 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d( 0, 0);
      transform: translate3d( 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }









